<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/semantic/dist/semantic.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="ui visible inverted red left vertical sidebar fixed menu">
            <div>test</div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/semantic/dist/semantic.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/moment/moment.js') }}"></script>
        {% endblock %}
    </body>
</html>
