{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path("fos_user_security_check") }}" method="post" class="ui one column stackable centered page grid">
    {% if error %}
        <div class="column nine wide">
            <div class="ui secondary inverted red segment fluid">
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        </div>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="column nine wide">
        <div class="ui segment">
            <div class="ui form">
                <div class="field">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <div class="ui left icon input">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <div class="ui left icon input">
                        <input type="password" id="password" name="_password" required="required" />
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>
                <div class="field center aligned">
                    <input type="submit" class="ui blue submit fluid button" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </div>
            <div class="ui horizontal divider">
                Ou
            </div>
            <a href="{{ path('fos_user_registration_register') }}" class="ui fluid green labeled icon button">
                <i class="signup icon"></i>
                S'inscrire
            </a>
        </div>
    </div>
</form>
